<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio de Producto</title>
</head>
<body>
    <h1>¡Bienvenido a la página de inicio de app_producto!</h1>
    <p>Este es el template index.html.</p>
    <ul>
        <li><a href="/agregar/">Agregar Producto</a></li>
        <li><a href="/1/">Ver Producto (ejemplo ID 1)</a></li>
        <li><a href="/editar/1/">Editar Producto (ejemplo ID 1)</a></li>
        <li><a href="/borrar/1/">Borrar Producto (ejemplo ID 1)</a></li>
    </ul>
</body>
</html>